To  

The Public Information Officer  
{{ public_authority_name }}  
{{ public_authority_address }}  
{{ public_authority_address_pin_code }}  

Sub: Request for information under Section 6(1) read with provision to Section 7(1) of the RTI Act, 2005.

Sir/Madam,

Please supply me the following information under the **Life or Liberty provision** in respect of my Ration Card application, the details of which are mentioned below:

**Details of Ration Card Application:**

NFS Application ID / Online Citizen ID Number: {{ application_id }}  
Date of Application: {{ application_date }}  
Name of Head of Family: {{ family_head_name }}  
Full Address: {{ applicant_address }}  

**Particulars of Information required:**

[1] Please provide a certified copy of the note sheet indicating notings by various officials and the decision of the competent authority on my application dated {{ application_date }} submitted to {{ submission_office }} for issuance of a Ration Card for my family.  

[2] In case no action has been taken till date, please inform me of the names, designations, and office addresses of the officer(s) responsible for taking action and issuing the Ration Card in response to the application referred to in point (1) above.  

[3] Please provide a certified copy of the rules, regulations, circulars, policies, notifications, government resolutions, or any such document including the Citizen’s Charter which stipulates the time limit within which an application for issuance of a Ration Card is required to be decided by the concerned authority.  

[4] In case the Ration Card has been sanctioned and endorsed to a Fair Price Shop, please inform me of the name and address of the Ration Shop, including its Registration Number / Licence Number, from where I am entitled to draw ration periodically.  

The RTI application fee of ₹10 has been paid via {{ fee_mode }} (Details: {{ fee_details }}).

Please note that as per the decision of the Central Information Commission dated 24/03/2014 (Kausalya vs Food & Supply Department, GNCTD; File No. CIC/AD/A/2012/003135-SA & Ors), information relating to ration cards has been held to be information concerning **life or liberty** under the proviso to Section 7(1) of the RTI Act, and therefore the information is required to be supplied within forty-eight hours.

I request you to kindly send the above information to my address mentioned below via Registered Post.

Yours faithfully,  

(Signature)  
Name: {{ applicant_full_name }}  
Address: {{ applicant_address }}  
PIN Code: {{ applicant_pin_code }}  
Date: {{ submission_date }}  
