To

The Central Public Information Officer
{{ public_authority_name }}
{{ public_authority_address }}
PIN Code {{ public_authority_address_pin_code }}

Sub: Request for information under Section-6(1) of RTI Act.

Sir,

Please supply me the following information:

Details of LPG Connection:

Name of LPG Distributor: {{ lpg_distributor_name }}
Address of LPG Distributor: {{ lpg_distributor_address }}
My Consumer No. {{ consumer_number }}
Address of Consumer: {{ applicant_address }}

Particulars of information required

[1] Kindly supply me certified copy of 'Dealership Agreement' executed by and between {{ agency_name }}, for distribution of LPG cylinders, including Terms & Conditions as well as Services and facilities required to be provided by the Dealer to the consumers / Customers.

[2] Kindly supply me List showing (a) Consumer No., (b) Date of Booking, [c] Date of Delivery & (d) Bill/Cash Memo number and date, of all Domestic use LPG Cylinders booked and delivered by {{ lpg_distributor_name }} (Agency name), from {{ booking_date }} to {{ filing_date }} (this period is 2 days before your date of booking and one day after you received delivery or actual date of filing RTI Application, if refill is not received)

[3] Kindly supply me date-wise quantity (in number of cylinders) of domestic use LPG cylinders supplied to {{ lpg_distributor_name }} (Agency name), from {{ booking_date }} to {{ filing_date }} (this period is 2 days before your date of booking and one day after you received delivery or actual date of filing RTI Application, if refill is not received)

[4] Kindly supply me list showing date-wise Home Delivery as well as Cash & Carry delivery of LPG Refill in respect of my Consumer no. {{ consumer_number }} with {{ lpg_distributor_name }} from {{ booking_date }} to {{ filing_date }} (six months prior date to date of filing RTI Application).

Application Fee of Rs.10 is attached as IPO No {{ payment_reference_number }} payable to the Accounts Officer, {{ accounts_officer_name }}.

Please send the information to my below address by Registered post.

Yours faithfully,

Signature
Name: {{ applicant_full_name }}
Consumer No: {{ consumer_number }}
Address: {{ applicant_address }}
Pin Code: {{ applicant_pin_code }}
Date: {{ submission_date }}
